<img alt="Clip background" class="mask__background"
     [class.hidden]="!visualizeMask" [src]="src"
     [width]="width" [height]="height">
<img alt="Mask image" [src]="src" (load)="setReady($event)"
     [style.clip-path]="points | maskClipPath"
     [width]="width" [height]="height">
<svg #mask (click)="addPoint($event, mask)"
     [attr.width]="width" [attr.height]="height">
  <path class="mask__path" [class.hidden]="!visualizePath" [attr.d]="points | maskSvgPath:mask"/>
  <circle class="mask__point" *ngFor="let point of points; let i = index" r="2"
          [class.hidden]="!visualizePoints"
          [attr.cx]="point.x + '%'" [attr.cy]="point.y + '%'" (click)="removePoint($event, i)">
  </circle>
</svg>
