:host {

  --mask-opacity: 0.25;
  --mask-z-index: 2;
  --path-unit: .25em;
  --path-opacity: .75;
  --point-opacity: .75;

  --point-cursor: pointer;
  --visibility: hidden;

  display: block;
  position: relative;
  overflow: hidden;
  visibility: var(--visibility);
  width: 100%;
  height: 100%;

  svg, img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 10em;
    min-height: 10em;
  }

  svg {
    z-index: var(--mask-z-index);
  }

  .mask__point {
    r: calc(var(--path-unit) * 1.5);
    fill: var(--mask-path-color, lime);
    stroke: transparent;
    opacity: var(--point-opacity);
    cursor: var(--point-cursor);
    transform: scale(1);
    transform-box: fill-box;
    transform-origin: center;
    transition: transform .3s ease;
  }

  .mask__point:hover {
    transform: scale(2);
  }

  &[disabled=true] {
    --point-cursor: not-allowed;

    .mask__point:hover {
      transform: scale(1);
    }
  }

  &.ready {
    --visibility: visible;
  }

  .mask__background {
    opacity: var(--mask-opacity);
  }

  .mask__path {
    fill: transparent;
    stroke: var(--mask-path-color, lime);
    stroke-width: var(--path-unit);
    stroke-dasharray: calc(var(--path-unit) * 2);
    stroke-linecap: square;
    animation: dashloop 4s linear infinite;
    will-change: stroke-dashoffset;
    opacity: var(--path-opacity);
  }

  *.hidden {
    visibility: hidden;
  }

}

@keyframes dashloop {
  to {
    stroke-dashoffset: calc(var(--path-unit) * 40);
  }
}
